[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
jupyter = "==1.0.0"
seaborn = "==0.6.0"
requests = "==2.7.0"
numba = "==0.40.1"
psutil = "==5.4.8"
tqdm = "==4.28.1"
implicit = "==0.3.8"

[dev-packages]

[requires]
python_version = "3.7"
